<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IWCFService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/WCFHost.WCFService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWCFService"
                contract="WCFService.IWCFService" name="BasicHttpBinding_IWCFService" />
        </client>
    </system.serviceModel>
</configuration>